* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.main-div {
  background-color: #fff;
  border-radius: 0 0 0 70px;
}

.header {
  padding: 20px 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #6070ff;
}

.logo a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.info-container {
  padding: 150px 8%;
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.greetings {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 15px;
}

.me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-tittle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 10px 0;
}

.connect-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.works {
  margin: 150px 8%;
}

.works-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}

.first-work {
  background-color: #fff;
  border-radius: 15px;
  padding: 4%;
}

.image img {
  width: 100%;
}

.info {
  padding: 15px 0 30px 0;
  display: flex;
  flex-direction: column;
}

.info-tittle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.ul-info {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 20px 0 15px 0;
  align-items: center;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 5px;
}

.ul-languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  gap: 10px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.ul-languages li {
  padding: 6px 10px;
  background: #ebebff;
  border-radius: 10px;
  margin-bottom: 20px;
  float: left;
  margin-right: 10px;
}

.see-project {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 18px;
  border-radius: 10px;
  background-color: #fff;
  /*width: auto;*/
}

.see-project:hover {
  background-color: #396df2;
  color: #fff;
  transition: 0.4s;
}

.about-myself {
  background-color: #fff;
  border-radius: 0 70px 0 0;
  padding: 150px 8% 80px 8%;
}

.about-myself h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-myself p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 15px;
}

.resume {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 18px;
  border-radius: 10px;
}

.resume:hover {
  background-color: #396df2;
  color: #fff;
  transition: 0.4s;
}

.languages {
  margin: 50px 2%;
}

.tittle-languages {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.tittle-languages h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}

.languages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 10px;
}

.languages-list li h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.others-ul {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.others-ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dfe1e6;
  padding-right: 30px;
}

.others-ul li h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

/*contact*/

.contact-section {
  background-color: #fff;
}

.contact-container {
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #6070FF;
  padding: 120px 8% 40px 8%;
  border-radius: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contact-div {
  max-width: 570px;
}

.contact-div h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-div p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contact-form input, textarea {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: #172b4d;
  padding: 0 15px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact-form ::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-form textarea {
  height: 150px;
  padding: 16px;
}

.contact-form button {
  height: 48px;
  left: 24px;
  top: 5317px;
  padding:0 10px 0 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  align-self: flex-start;
}

.contact-form button:hover {
  background-color:#6070ff;
  color: #fff;
}
